@font-face {
    font-family: 'ComicNeue';
    src: url('/fonts/ComicNeue-Bold.ttf') format('truetype');
}

body {
    background: url("/images/2.png");
    color: #000;
    font-family: 'Comic Sans MS', 'ComicNeue', cursive, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    box-sizing: border-box;
}

.content {
    margin-top: 2rem;
    background-color: 	#ffd76a;
    border: 5px ridge #67a56f;
    box-shadow: 3px 3px 0 #27502d;
}

h1 {
    color: #FF0000;
    text-shadow: 2px 2px #ec833f;
}

.projects {
    margin-top: 20px;
}

.projects a {
    display: block;
    color: #01027b;
    text-decoration: underline;
    max-font-size: 20px;
    margin-bottom: 15px;
}

.projects a:hover {
    color: #FF0000;
}

.marquee {
    border: 3px ridge #ec833f;
    padding: 5px;
    background-color: #95bedd;
    color: #01027b;
    font-weight: bold;
    width: 90%;
    margin: 20px auto;
    box-sizing: border-box;
}

@media (max-width: 600px) {
    h1 {
        font-size: 6vw;
    }

    .projects a {
        font-size: 4vw;
    }

    .marquee {
        font-size: 4vw;
    }

    .download-button {
        font-size: 4vw;
        padding: 8px 16px;
    }
}
