@font-face {
    font-family: 'ComicNeue';
    src: url('/fonts/ComicNeue-Bold.ttf') format('truetype');
}

body {
    background: url("/images/2.png");
    color: #000;
    font-family: 'Comic Sans MS', 'ComicNeue', cursive, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 90%;
    width: 800px;
    margin: 0 auto;
    padding: 1rem;
    text-align: center;
    box-sizing: border-box;
}

.header {
    margin-top: 2rem;
    background-color: #ffd76a;
    border: 5px ridge #67a56f;
    box-shadow: 3px 3px 0 #27502d;
}


.content {
    background-color: #ffd76a;
    border: 5px ridge #67a56f;
    border-top: none;
    box-shadow: 3px 3px 0 #27502d;
}

h1 {
    color: #FF0000;
    text-shadow: 2px 2px #ec833f;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.projects a, .links a {
    display: block;
    color: #01027b;
    text-decoration: underline;
    margin-bottom: .75rem;
}

.projects a:hover, .links a:hover {
    color: #FF0000;
}

.marquee {
    border: 3px ridge #ec833f;
    padding: 5px;
    background-color: #95bedd;
    color: #01027b;
    font-weight: bold;
    width: 90%;
    margin: 1rem auto;
    box-sizing: border-box;
}
