$primary: #008265;
$success: $primary;
$light: #F6F6F6;
$grey-darker: #2E302F;

// $family-primary: 'Avenir', sans-serif;

@import "../../node_modules/bulma/bulma";

$global-spacing: 1rem;
$global-radius: 12px;

img.is-rounded {
  border-radius: $global-radius;
}

.has-margin-top {
  margin-top: $global-spacing;
}

.projects {
  max-width: 860px;
  margin: 0 auto;
}

.testimonial {
  background-color: $white;
  padding: $global-spacing*3 $global-spacing;
  border-radius: $global-radius;
  text-align: center;

  &__image {
    border-radius: 100%;
    height: 100px;
    width: 100px;
  }

  &__name {
    margin-top: $global-spacing/2;
    font-weight: bold;
  }

  &__profession {
    font-size: .8rem;
    color: $grey;
  }

  &__text {
    margin-top: 1rem;
  }
}
